@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h3>Товары интернет-магазина PhoneMarket</h3>
<table>
    <thead>
        <tr>
            <td>Название</td>
            <td>&nbsp;&nbsp;</td>
            <td>Производитель</td>
            <td>&nbsp;&nbsp;</td>
            <td>Цена (руб)</td>
            <td>&nbsp;&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var phone in ViewBag.Phones)
            {
                <tr>
                    <td>@phone.Name</td>
                    <td>&nbsp;&nbsp;</td>
                    <td>@phone.Producer</td>
                    <td>&nbsp;&nbsp;</td>
                    <td>@phone.Price</td>
                    <td>&nbsp;&nbsp;</td>
                    <td><a href="/Home/Buy/@phone.Id">Купить</a></td>
                </tr>
            }
        }
    </tbody>
</table>
